.about-bg{
    background-image: url('../../../assets/aboutBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.about-bg h1{
    font-size: 4.5rem;
    color: #fff;
    font-weight: 700;
    padding: 12rem 0rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}


@media screen and (max-width:767px) {
    .about-bg{
        background-attachment: unset;
        
    }

    .about-bg h1{
        font-size: 3rem;
        padding: 6rem 0rem;
        
    }
}