.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #fff;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
   
  }
  
  /* Let’s style brand-name and navigation-menu: */
  
  /* // navbar.css */
  .brand-name {
    text-decoration: none;
    color: rgb(1, 1, 1);
    font-size: 2.1rem;
    margin-left: 1rem;
    font-weight: 800;
    /* text-shadow: 1px 0px 1px black; */
     
  }
  .navigation-menu {
    margin-left: auto;
  } 
  
  /* // navbar.css */
  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  .navigation-menu li {
    
    list-style-type: none;
    margin: 0 1rem;
  }
  .inactive{
    text-decoration: none;
    display: block;
    width: 100%;
    color: rgb(0, 0, 0);
    font-size: 18px;
  }

  .active {
    text-decoration: none;
    display: block;
    width: 100%;
    color: rgb(254, 55, 55);
    font-weight: 700;
    font-size: 18px;
    
    
  }


  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #120f0f;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  /* // positions the icon to the right and center aligns it vertically */
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
  }
  /* .hamburger:hover {
    background-color: #292a2d;
  } */



  @media screen and (max-width: 768px) {
    .hamburger {
        display: block;
      }

      .navigation-menu ul {
        display: none;
      }
      .navigation-menu ul {
        position: absolute;
        top: 60px;
        right: 0px;
        /* // stacks the li tags vertically  */
        flex-direction: column;
       /* // makes menu span full height and width */
        width: 40%;
        height: calc(50vh - 77px);
        background-color: white;
        border-top: 1px solid black;
      }
      .navigation-menu li {
        /* // centers link text and strips off margin */
        text-align: center;
        margin: 0;
      }
      .inactive {
        width: 100%;
        padding: 1rem 0;
        text-decoration: none;
        color: rgb(0, 0, 0);
      }
      .active{
        width: 100%;
        padding: 1rem 0;
        text-decoration: none;
        color: rgb(254, 55, 55);
        font-weight: 700;
      }
      .navigation-menu.expanded ul {
        display: block;
      }
  }